{% extends 'JobinthePastLife/base.html' %}

{% block body %}
<h1>전생에 나의 직업은 무엇이었을까?</h1>
<form action="{% url 'JobinthePastLife:index' %}" method="POST">
  {% csrf_token %}
  <label for="name">성함 :</label>
  <input type="text" id="name" name="name" placeholder="성함을 입력하세요">
  <label for="birthday">생일 :</label>
  <input type="date" id="birthday" name="birthday">
  <label for="birthtime">태어난 시각 :</label>
  <input type="time" id="birthtime" name="birthtime" step="600">
  <input type="submit" value="제출">
</form>
{% endblock %}